<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Servidores Welcome World</title>
</head>
    {{> styles }}
<body class="bg-dark">
    <header>
        {{> navbar}}
    </header>
    
    <main id="main"> 
     