<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">
        <img src="/assets/images/logo.png" alt="Logo" width="50" height="44" class="d-inline-block align-text-top">        
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">  
                                          

        <a class="nav-link text-light" href="/creararchivo">Crear Archivo</a>
        <a class="nav-link text-light" href="/leerarchivo">Leer Archivo</a>
        <a class="nav-link text-light" href="/renombrararchivos">Renombrar Archivo</a>
        <a class="nav-link text-light" href="/eliminararchivo">Eliminar Archivo</a>
        
      </div>
    </div>
  </div>
</nav>